 @media(max-width:820px){
    .contenedor_slide_texto_foto p {
        font-size: 45px; 
        padding: 8px 15px; 
    }
    

    .contenedor_cabecera_menu ul li a {
        display: block;
        width: 100%;
        padding: 15px;
        
    }

    .seccion_dos{
        flex-wrap: wrap;

        gap: 20px;
    }
    .articulos {
        width: 48%;
        
    }
} 